.input {
	width: 100%;
	border-radius: 0.5rem;
	padding: 0.5rem;
	color: #e9edef;

	&.dark {
		background-color: #202c33;

		&::placeholder {
			color: #caedef;
		}
	}
	&.light {
		background-color: #111b21;

		&::placeholder {
			color: #5b89a0;
		}
	}
}
