.button {
	display: flex;
	align-items: center;
	border-radius: 0.5rem;
	padding: 0.75rem;
	color: #e9edef;
	transition: background-color 0.15s ease-in-out;

	&.dark {
		background-color: #202c33;
	}
	&.light {
		background-color: #111b21;
	}

	&:active {
		background-color: rgba(255, 255, 255, 0.1);
	}
}
