.auth {
	display: flex;
	align-items: center;
	gap: 2rem;
	max-width: 35rem;
	height: 100%;
	margin: 0 auto;

	&__block {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&-form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: flex-start;

		&__inputs {
			align-self: stretch;
			display: grid;
			grid-template: repeat(2, auto) / repeat(2, 1fr);
			gap: 0.5rem;

			& .input:first-child {
				grid-column: span 2;
			}
		}
	}
}
